.packages-list {
  @apply grid gap-4 md:grid-cols-2 lg:grid-cols-3;
}

.package {
  @apply relative isolate flex flex-col justify-between gap-7 rounded-2xl p-6;
}

.package__badge {
  @apply inline-flex h-6 items-center justify-center gap-1 rounded-md bg-white/80 px-2 text-xs font-semibold;
}

.package__header {
  @apply flex items-start justify-between gap-3;
}
.package__header h2 {
  @apply mb-1 text-lg font-bold;
}

.package__discount {
  @apply inline-flex h-6 items-center justify-center rounded-full bg-white/80 px-3 text-xs;
}

.package__body {
  @apply mb-12 mt-8;
}

.package__features {
  @apply space-y-1;
}

.package__features li {
  @apply flex items-center gap-2 rounded-lg px-3 py-2 text-sm odd:bg-black/5;
}
.package__features svg {
  @apply size-4;
}
.package__features svg.info {
  @apply ms-auto;
}

.package__btn {
  @apply flex h-10 w-full items-center justify-center gap-1 rounded-full text-center text-sm text-white transition-opacity hover:opacity-75;
}
.package__btn svg {
  @apply size-4;
}

.package > img {
  @apply pointer-events-none absolute inset-x-0 top-0 -z-10 w-full;
}

/* -- */

.package.bronze {
  color: #331003;
  background-color: #ffd9cb;
}
.package.silver {
  color: #231f20;
  background-color: #ededed;
}
.package.gold {
  color: #854d0e;
  background-color: #ffdc9a;
}

.package.bronze .package__discount {
  background-color: #f9b198;
}
.package.silver .package__discount {
  background-color: #d4d4d8;
}
.package.gold .package__discount {
  background-color: #d4b173;
}

.package.bronze .package__features svg,
.package.gold .package__features svg {
  color: #a03813;
}
.package.silver .package__features svg {
  color: #737373;
}

.package.bronze .package__btn {
  background-color: #b8451b;
}
.package.silver .package__btn {
  background-color: #52525b;
}
.package.gold .package__btn {
  background-color: #854d0e;
}
